Name : Gokul N V

------------------------------------------------------------------------------------

i am doing this step so in case there is no file it will create and by which to work

In [14]:
# --- CREATE ALL REQUIRED DATA FILES AUTOMATICALLY ---
import pandas as pd
import json

# students.csv
students_csv = """Name,Age,Grade
Alice,20,A
Bob,21,B
Charlie,20,A
David,22,C
Eva,21,B
"""
with open('students.csv', 'w') as f:
    f.write(students_csv)

# sales.xlsx
sales_data = {
    'Q1': [100, 150, 175],
    'Q2': [200, 250, 225],
    'Q3': [300, 350, 325]
}
df_sales = pd.DataFrame(sales_data)
df_sales.to_excel('sales.xlsx', index=False)

# data.json
data_json = [
    {"id": 1, "name": "Alice", "status": "active"},
    {"id": 2, "name": "Bob", "status": "inactive"},
    {"id": 3, "name": "Charlie", "status": "active"},
    {"id": 4, "name": "David", "status": "active"},
    {"id": 5, "name": "Eva", "status": "inactive"}
]
with open('data.json', 'w') as f:
    json.dump(data_json, f, indent=2)

# report.txt (tab-separated)
report_txt = "id\tname\tscore\n1\tAlice\t87\n2\tBob\t90\n3\tCharlie\t78\n4\tDavid\t85\n5\tEva\t92\n"
with open('report.txt', 'w') as f:
    f.write(report_txt)
print("Sample files created!")

Sample files created!

Q1: DataFrame from students.csv:

In [15]:
import pandas as pd
df_students = pd.read_csv('students.csv')
print("Q1: DataFrame from students.csv:")
print(df_students, "\n")

Q1: DataFrame from students.csv:
      Name  Age Grade
0    Alice   20     A
1      Bob   21     B
2  Charlie   20     A
3    David   22     C
4      Eva   21     B

Q2: DataFrame from sales.xlsx (columns Q1 and Q2):

In [16]:
df_sales = pd.read_excel('sales.xlsx', usecols=['Q1', 'Q2'])
print("Q2: DataFrame from sales.xlsx (columns Q1 and Q2):")
print(df_sales, "\n")

Q2: DataFrame from sales.xlsx (columns Q1 and Q2):
    Q1   Q2
0  100  200
1  150  250
2  175  225

Q3: First 5 rows from data.json:

In [17]:
df_json = pd.read_json('data.json')
print("Q3: First 5 rows from data.json:")
print(df_json.head(), "\n")

Q3: First 5 rows from data.json:
   id     name    status
0   1    Alice    active
1   2      Bob  inactive
2   3  Charlie    active
3   4    David    active
4   5      Eva  inactive

Q4: DataFrame from report.txt:")

In [18]:
df_report = pd.read_csv('report.txt', sep='\t')
print("Q4: DataFrame from report.txt:")
print(df_report, "\n")

Q4: DataFrame from report.txt:
   id     name  score
0   1    Alice     87
1   2      Bob     90
2   3  Charlie     78
3   4    David     85
4   5      Eva     92

Q5: DataFrame created from dictionary and read from output.csv:

In [19]:
data_dict = {
    'id': [1, 2, 3],
    'value': ['A', 'B', 'C']
}
df_dict = pd.DataFrame(data_dict)
df_dict.to_csv('output.csv', index=False)
df_readback = pd.read_csv('output.csv')
print("Q5: DataFrame created from dictionary and read from output.csv:")
print(df_readback, "\n")

Q5: DataFrame created from dictionary and read from output.csv:
   id value
0   1     A
1   2     B
2   3     C

Q6: DataFrame from sales.xlsx skipping first 2 rows:

In [20]:
df_skip_rows = pd.read_excel('sales.xlsx', skiprows=2)
print("Q6: DataFrame from sales.xlsx skipping first 2 rows:")
print(df_skip_rows, "\n")

Q6: DataFrame from sales.xlsx skipping first 2 rows:
   150  250  350
0  175  225  325

Q7: DataFrame saved as output.json\n

In [21]:
df_json.to_json('output.json', orient='records', indent=2)
print("Q7: DataFrame saved as output.json\n")

Q7: DataFrame saved as output.json

Q8: DataFrame from students.csv with custom column names:

In [22]:
df_no_header = pd.read_csv('students.csv', header=0, names=['StudentName', 'StudentAge', 'StudentGrade'])
print("Q8: DataFrame from students.csv with custom column names:")
print(df_no_header, "\n")

Q8: DataFrame from students.csv with custom column names:
  StudentName  StudentAge StudentGrade
0       Alice          20            A
1         Bob          21            B
2     Charlie          20            A
3       David          22            C
4         Eva          21            B

Q9: Filtered data from data.json where status is active:

In [23]:
df_json_active = df_json[df_json['status'] == 'active']
print("Q9: Filtered data from data.json where status is active:")
print(df_json_active, "\n")

Q9: Filtered data from data.json where status is active:
   id     name  status
0   1    Alice  active
2   3  Charlie  active
3   4    David  active

"Q10: DataFrame from students.csv saved as converted_output.xlsx\n

In [24]:
df_students.to_excel('converted_output.xlsx', index=False)
print("Q10: DataFrame from students.csv saved as converted_output.xlsx\n")

Q10: DataFrame from students.csv saved as converted_output.xlsx